/*
 * @Author: whj 
 * @Date: 2018-11-22 10:17:41 
 * @Last Modified by: whj
 * @Last Modified time: 2018-11-27 17:41:09
 */

$fc-primary:#409EFF;
#admin {
    margin-top: -80px;
    padding-top: 60px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    &-error {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
    }
}

.admin- {
    &side- {
        &menu {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            width: 160px;
            height: 100vh;
            padding-top: 60px;
            background-color: #fff;
            border-right: 1px solid #eee;
            display: flex;
            flex-direction: column;
        }
        &item {
            height: 48px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            color: #333;
            text-decoration: none;
            border-bottom: 1px solid #eee;
            &.router-link-active {
                color: #fff;
                background-color: $fc-primary;
            }
        }
    }
    &main {
        padding: 20px 20px 0 180px;
        overflow: auto;
        height: 100vh;
    }
}

.m- {
    &breadcrumb {
        padding-bottom: 20px;
    }
}