/* areaTab */
.u_areaTab { font-size:12px; margin:50px auto; }

.u_sel { position:relative; width:240px; background:#fff; border:1px solid #c8c8c8;border-radius: 3px;display:block; }
.u_sel_a { cursor:pointer; padding:10px; height:40px; line-height:20px;}
.u_sel_b { display:none; position:absolute; left:-1px; top:40px; width:360px; border:1px solid #c8c8c8; background:#fff; }
.u_sel_b li { cursor:pointer; }
.u_sel_b li:hover { background:#e6e6e6; }
.ic_down { position:absolute; right:0; top:0; width:40px; height:40px; border-left:1px solid #c8c8c8; background:url(http://whj.fayfox.com/img/ic_down.jpg) no-repeat center center #f4f4f4; }
.ic_down:hover { background-color:#e6e6e6; }

.u_sel_bTab { position:relative; background:#ddd; height:30px; }
.u_sel_bTab ul { display:inline-block; vertical-align:top; border-right:1px solid #fff; }
.u_sel_bTab li { cursor:pointer; float:left; height:30px; line-height:30px; padding:0 8px; border-left:1px solid #fff; border-right:1px solid #bebebe;}
.u_sel_bTab li:hover { background:#fff; }
.u_sel_bTab .crt { color:#f08300; background:#fff; border-right-color:#fff; }
.u_sel_bTabHide li { padding:0 5px; }
.u_sel_bSearch { position:absolute; right:1px; top:1px; width:85px; height:18px; padding:5px 0 5px 2px; background:#ddd;}
.u_sel_bSearch img { width:15px; height:15px; margin-top:1px; vertical-align:top; }
.u_sel_bSearch input { vertical-align:top; width:57px; height:16px; line-height:16px; margin-right:3px; background:#fff; border:0; padding:1px 0 1px 3px; }
.u_sel_bSearchHide { padding:5px 0 5px 7px; border-left:1px solid #fff; width:22px; }
.u_sel_bSearchHide input { display:none; padding:0; }

.u_sel_bList { overflow:hidden; }
.u_sel_bSearchTips { display:none; padding:20px; }
.u_sel_bList li{float:left;width:95px;border-bottom:1px dashed #eee;color:#777;text-align:left;padding:10px;border-left:2px solid #fff;}
.u_sel_bList li:hover{border-left:2px solid #FB3838;color:#666;}


.u_sel_bTabMore { overflow:hidden; }
.u_sel_bTabMore .u_areaTabPrev, .u_sel_bTabMore .u_areaTabNext { display:block; }
.u_areaTabPrev, .u_areaTabNext { display:none; position:absolute; width:15px; text-align:center; height:30px; line-height:30px; text-decoration:none; color:#000; font-family:arial; top:0; background:#ddd;  }
.u_areaTabNext { right:31px; border-left:1px solid #fff; border-right:1px solid #bebebe; }
.u_areaTabNextMove { right:87px; }
.u_areaTabPrev { left:1px; border-right:1px solid #fff; }
.u_sel_bTabMore ul { margin-left:16px; }















