* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li,
dl,
dt,
dd {
    list-style: none;
}

body {
    font-size: 12px;
    color: #333;
}

@font-face {
    font-family: 'iconfont';
    /* project id 922008 */
    src: url('//at.alicdn.com/t/font_922008_ek1ixs64xw4.eot');
    src: url('//at.alicdn.com/t/font_922008_ek1ixs64xw4.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_922008_ek1ixs64xw4.woff') format('woff'), url('//at.alicdn.com/t/font_922008_ek1ixs64xw4.ttf') format('truetype'), url('//at.alicdn.com/t/font_922008_ek1ixs64xw4.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

#app {
    padding-top: 80px;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.ff-song {
    font-family: '宋体';
}

$fc-gray: #ccc;
$fc-primary:#409EFF;
.mb- {
    &10 {
        margin-bottom: 10px;
    }
    &20 {
        margin-bottom: 20px;
    }
}

#g- {
    &hd {
        position: fixed;
        z-index: 9;
        width: 100%;
        left: 0;
        top: 0;
        height: 60px;
        padding: 0 20px;
        background-color: #333;
        color: #fff;
        a {
            color: #fff;
        }
    }
}

.hd- {
    &logo {
        position: absolute;
        left: 20px;
        top: 0;
    }
    &nav {
        display: flex;
        @extend .wrap;
    }
    &right {
        position: absolute;
        right: 20px;
        top: 0;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &nick {
        display: flex;
        align-items: center;
        margin-right: 10px;
        border-right: 1px solid #222;
        &::after {
            content: "";
            padding-right: 10px;
            border-right: 1px solid #444;
        }
    }
    &logout {
        cursor: pointer;
    }
}

.nav- {
    &item {
        height: 60px;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 30px;
        border-right: 1px solid #222;
        border-left: 1px solid #444;
        @extend .ani-once;
        &:hover,
        &.router-link-active {
            background-color: #111;
        }
        &:last-child::after {
            content: "";
            border-right: 1px solid #222;
        }
    }
}

.user- {
    &form {
        width: 500px;
        margin: 0 auto;
        padding-top: 50px;
        .el-form {
            box-shadow: 0 0 2px 2px #eee;
            border-radius: 5px;
            padding: 50px 50px 30px;
            margin-bottom: 20px;
        }
        &- {
            &ft {
                display: flex;
                justify-content: flex-end;
            }
            &link {
                color: #999;
                margin-left: 20px;
                text-decoration: none;
                &:hover {
                    color: #333;
                }
            }
        }
    }
}

.todo- {
    &future {
        padding-bottom: 50px;
    }
    &add {
        @extend .ani-once;
        position: fixed;
        z-index: 9;
        left: 100%;
        top: 160px;
        width: 450px;
        margin-left: 50px;
        padding: 20px 30px;
        background-color: #fff;
        &.fn-show {
            left: 50%;
            box-shadow: 0 0 1px 0 #ddd;
        }
    }
    &hd {
        &-tips {
            margin-bottom: 20px;
            padding-left: 5px;
        }
    }
    &bar {
        column-count: 3;
        column-gap: 1em;
    }
    &item {
        position: relative;
        break-inside: avoid;
        padding: 5px 5px 10px;
        &-bar {
            box-shadow: 0 0 1px 1px #eee;
            border-radius: 5px;
            padding: 20px;
        }
    }
    &between {
        box-shadow: 0 0 1px $fc-gray;
        border-radius: 8px;
        overflow: hidden;
    }
    &gray,
    &white {
        padding: 30px 20px;
        min-height: 700px;
    }
    &gray {
        background-color: #ebeef5;
    }
    &day {
        padding-bottom: 10px;
        &- {
            &list {
                position: relative;
                border-left: 1px solid #ddd;
                margin-left: 10px;
                &:after {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: -3px;
                    bottom: 0;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $fc-gray;
                }
            }
            &item {
                padding-left: 20px;
                position: relative;
                margin-bottom: 20px;
                &.fn-ok {
                    .todo-day-info {
                        color: #999;
                        text-decoration: line-through;
                    }
                    .todo-day-status {
                        border-color: $fc-gray;
                    }
                }
                &.fn-lay {
                    color: $fc-primary;
                    .todo-day-info {
                        color: $fc-primary;
                        font-weight: bold;
                    }
                    .todo-day-status {
                        border-color: $fc-primary;
                    }
                }
                .el-icon-delete,
                .el-icon-edit {
                    cursor: pointer;
                    margin-left: 5px;
                    @extend .ani-once;
                    opacity: 0;
                }
                &:hover {
                    i {
                        opacity: 1;
                    }
                }
            }
            &status {
                cursor: pointer;
                position: absolute;
                z-index: 2;
                left: -10px;
                top: 0;
                width: 20px;
                height: 20px;
                border: 1px solid #aaa;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &info {
                cursor: pointer;
                margin-bottom: 6px;
                &- {
                    &name {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &none {
        padding-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &progress {
        position: absolute !important;
        right: 20px;
        top: 20px;
    }
}

.m- {
    &title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
}

.el-tag {
    margin-right: 5px;
}

//////////////////////////////////////////////
// animate
.ani-once {
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}