* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li,
dl,
dt,
dd {
    list-style: none;
}

body {
    font-size: 12px;
    color: #333;
    background-color: #fefefe;
}

@font-face {
    font-family: 'iconfont';
    /* project id 922008 */
    src: url('//at.alicdn.com/t/font_922008_rmcv2gwom7n.eot');
    src: url('//at.alicdn.com/t/font_922008_rmcv2gwom7n.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_922008_rmcv2gwom7n.woff') format('woff'), url('//at.alicdn.com/t/font_922008_rmcv2gwom7n.ttf') format('truetype'), url('//at.alicdn.com/t/font_922008_rmcv2gwom7n.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

#app {
    padding-top: 80px;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.ff-song {
    font-family: '宋体';
}

$c-gray: #ccc;
$c-primary:#409EFF;
$c-primary-dark: #398ee5;
$c-success:#67c23a;
$c-gray-dark: #ebeef5;
$c-danger:#f56c6c;
$c-warning:#e6a23c;
.mb- {
    &10 {
        margin-bottom: 10px;
    }
    &20 {
        margin-bottom: 20px;
    }
}

#g- {
    &hd {
        position: fixed;
        z-index: 9;
        width: 100%;
        left: 0;
        top: 0;
        padding: 0 20px;
        color: #fff;
        background-color: #353d40;
        border-bottom: 3px solid #222;
    }
}

.hd- {
    &logo {
        position: absolute;
        left: 20px;
        top: 0;
    }
    &nav {
        display: flex;
        @extend .wrap;
    }
    &right {
        position: absolute;
        right: 20px;
        top: 0;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &nick {
        display: flex;
        align-items: center;
        margin-right: 10px;
        border-right: 1px solid rgba($color: $c-gray, $alpha: 0.6);
        &::after {
            content: "";
            padding-right: 10px;
        }
    }
    &logout {
        cursor: pointer;
    }
}

.nav- {
    &item {
        height: 60px;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 25px;
        color: #fff;
        @extend .ani-once;
        i {
            margin-right: 8px;
        }
        &.router-link-active {
            background-color: rgba($color: #000, $alpha: 0.4);
        }
        &:hover {
            background-color: rgba($color: #000, $alpha: 0.2);
        }
        &:last-child::after {
            content: "";
            border-right: 1px solid #222;
        }
    }
}

.user- {
    &form {
        width: 500px;
        margin: 0 auto;
        padding-top: 50px;
        .el-form {
            @extend .m-shadow;
            border-radius: 5px;
            padding: 50px 50px 30px;
            margin-bottom: 20px;
        }
        &- {
            &ft {
                display: flex;
                justify-content: flex-end;
            }
            &link {
                color: #999;
                margin-left: 20px;
                text-decoration: none;
                &:hover {
                    color: #333;
                }
            }
        }
    }
}

.home- {
    &item {
        @extend .m-shadow;
        background-color: #fff;
        line-height: 2;
        padding: 15px 20px;
        margin-bottom: 20px;
    }
    &title {
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #eee;
    }
    &flex {
        display: flex;
    }
}

.todo- {
    &push {
        position: absolute;
        right: 45px;
        top: 0;
        display: flex;
        align-items: center;
        .el-input {
            width: 180px;
        }
    }
    &future {
        padding-bottom: 50px;
    }
    &add {
        .el-dialog__body {
            padding-bottom: 0;
        }
    }
    &hd {
        &- {
            &tips {
                margin-bottom: 20px;
                padding-left: 5px;
            }
            &form {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
            }
        }
    }
    &item {
        position: relative;
        padding: 5px 5px 10px;
    }
    &list {
        &- {
            &bar {
                background-color: rgba($color: $c-gray-dark, $alpha: 0.5);
                border-radius: 5px;
                padding: 20px;
                @extend .m-shadow;
                .todo-day {
                    margin-bottom: 10px;
                    &::after {
                        content: "";
                        display: block;
                        height: 1px;
                        margin-top: 20px;
                        border-top: 1px solid rgba($color: #000, $alpha: 0.1);
                        background-color: #fff;
                    }
                }
                .todo-day-item {
                    min-height: 36px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    &:hover {
                        background-color: rgba($color: #aaa, $alpha: 0.1);
                    }
                }
                .todo-day-status {
                    top: 6px;
                }
                .todo-day-info {
                    width: 300px;
                    margin-right: 20px;
                }
                .todo-day-types {
                    min-width: 300px;
                }
            }
        }
    }
    &between {
        @extend .m-shadow;
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
    }
    &gray,
    &white {
        padding: 30px 20px;
        min-height: 700px;
    }
    &gray {
        background-color: $c-gray-dark;
    }
    &day {
        position: relative;
        padding-bottom: 10px;
        &- {
            &list {
                position: relative;
                border-left: 1px solid #ddd;
                margin-left: 10px;
                padding: 10px 0;
                &::after,
                &::before {
                    @extend .m-min-circle;
                    left: -2px;
                }
                &::after {
                    bottom: 0;
                }
                &::before {
                    top: 0;
                }
                .el-tag {
                    cursor: pointer;
                }
            }
            &item {
                padding-left: 20px;
                position: relative;
                margin-bottom: 20px;
                &.fn-ok {
                    .todo-day-info {
                        color: #999;
                    }
                    .todo-day-status {
                        border-color: $c-gray;
                    }
                }
                &.fn-lay {
                    color: $c-primary;
                    .todo-day-info {
                        color: $c-primary;
                        font-weight: bold;
                    }
                    .todo-day-status {
                        border-color: $c-primary;
                    }
                }
                .el-icon-remove-outline,
                .el-icon-minus,
                .el-icon-edit {
                    cursor: pointer;
                    margin-left: 5px;
                    @extend .ani-once;
                    opacity: 0;
                }
                &:hover {
                    .el-icon-remove-outline,
                    .el-icon-minus,
                    .el-icon-edit {
                        opacity: 1;
                    }
                }
            }
            &status {
                cursor: pointer;
                position: absolute;
                z-index: 2;
                left: -10px;
                top: 0;
                width: 20px;
                height: 20px;
                color: #aaa;
                border: 1px solid #aaa;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &info {
                cursor: pointer;
                margin-bottom: 6px;
                &- {
                    &name {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &progress {
        position: absolute !important;
        right: 0;
        top: 0;
        width: 200px;
        .el-progress__text {
            color: #999;
            font-size: 12px !important;
        }
    }
}

.message- {
    &hd {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }
    &list {
        margin: 20px 0;
        position: relative;
        &::after,
        &::before {
            @extend .m-min-circle;
            left: 9px;
        }
        &::after {
            bottom: 0;
        }
        &::before {
            top: 0;
        }
    }
    &item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        margin-left: 10px;
        border-left: 1px solid #ddd;
        @extend .ani-once;
        &:hover {
            background-color: rgba($color: #aaa, $alpha: 0.1);
            .message-btns {
                opacity: 1;
            }
        }
    }
    &left {
        width: 80%;
    }
    &date {
        margin-left: -6px;
        color: #bbb;
        .el-icon-time {
            background-color: #fefefe;
            margin-right: 5px;
        }
    }
    &info {
        padding: 10px 0 0 15px;
        &-danger {
            color: $c-danger;
        }
    }
    &btns {
        @extend .ani-once;
        opacity: 0;
        padding-right: 15px;
    }
}

.aunt- {
    &hd {
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        padding-bottom: 10px;
        // color: $c-warning;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .el-form-item {
            margin-bottom: 0;
        }
    }
    &search {
        display: flex;
        align-items: center;
        // padding-bottom: 20px;
        .aunt-day {
            width: 10px;
            height: 10px;
        }
        &- {
            &label {
                margin: 0 10px 0 5px;
            }
        }
    }
    &list {
        @extend .ani-once;
        position: relative;
        display: flex;
        align-items: center;
        background-color: $c-gray-dark;
        border-radius: 5px;
        padding: 10px 0;
        margin-bottom: 5px;
        &:first-of-type {
            .aunt-day-default {
                width: 20px;
                height: 20px;
                color: #888;
            }
        }
        &- {
            &item {
                width: 32px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &date {
                position: absolute;
                left: -60px;
                font-weight: bold;
            }
            &delete {
                @extend .ani-once;
                cursor: pointer;
                position: absolute;
                right: -45px;
                font-size: 14px;
                color: #bbb;
                opacity: 0;
                padding: 0 16px;
                &:hover {
                    color: $c-primary;
                }
            }
        }
        &:hover {
            background-color: rgba($color: $c-primary, $alpha: 0.2);
            .aunt-list-delete {
                opacity: 1;
            }
            .aunt-day-default {
                color: #888;
                width: 20px;
                height: 20px;
            }
        }
    }
    &day {
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #eee;
        background-color: #fff;
        &- {
            &default {
                @extend .ani-once;
                width: 10px;
                height: 10px;
                color: #fff;
                overflow: hidden;
            }
            &danger {
                background-color: $c-danger;
                color: #fff;
            }
            &papa {
                background-color: $c-success;
                color: #fff;
            }
            &today {
                box-shadow: 0 0 1px 1px $c-primary;
            }
            &disable {
                cursor: default;
                color: #c0c4cc;
                background-color: #f5f7fa;
            }
        }
    }
}

.m-shadow {
    box-shadow: 0 0 1px 1px #eee;
}

.m- {
    &title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
    }
    &search {
        &- {
            &left {
                width: 80px;
            }
        }
    }
    &none {
        padding-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &min-circle {
        content: "";
        position: absolute;
        z-index: 1;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $c-gray;
    }
    &link {
        color: $c-primary;
    }
}

//////////////////////////////////////////////
// element-ui
.el-tag {
    margin-right: 5px;
}

.el-radio {
    &.is-checked {
        &.fc-danger {
            .el-radio__inner {
                border-color: $c-danger;
                background-color: $c-danger;
            }
            .el-radio__label {
                color: $c-danger;
            }
        }
        &.fc-warning {
            .el-radio__inner {
                border-color: $c-warning;
                background-color: $c-warning;
            }
            .el-radio__label {
                color: $c-warning;
            }
        }
    }
}

.el-radio+.el-radio {
    margin-left: 15px !important;
}

.el-message-box__wrapper {
    top: -300px;
}

//////////////////////////////////////////////
// animate
.ani-once {
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}